.ipynb_checkpoints/
Negative/
Positive/
concrete_crack_images_for_classification.zip
data/
venv-capstone/
__MACOSX/
concrete_data_week2.zip
concrete_data_week2/
wget-log
venv-py36/
classifier_resnet_model.h5
concrete_data_week3.zip
concrete_data_week3/
classifier_vgg16_model.h5
concrete_data_week4.zip
concrete_data_week4/
